body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    height: 100vh; /* Cada seção ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.about {
    background-color: lightblue;
}

.projects {
    background-color: lightgreen;
}

.testimonial {
    background-color: lightcoral;
}

.contact {
    background-color: lightgoldenrodyellow;
}
